In [3]:
#1i
a="morning"

In [5]:
type(a)

str

In [6]:
#1ii
l=[1,4,'wish']

In [7]:
type(l)

list

In [8]:
#1iii
f=24.607

In [9]:
type(f)

float

In [10]:
#1iv
t=(4,6,89.70,'king')

In [11]:
t

(4, 6, 89.7, 'king')

In [12]:
type(t)

tuple

In [13]:
#2i
var1=''

In [14]:
type(var1)

str

In [19]:
#2iii
var3=['ds','ml','python']

In [20]:
type(var3)

list

In [21]:
#2ii
var2='[ds,ml,python]'

In [22]:
type(var2)

str

In [23]:
#2iv
var4=1

In [24]:
type(var4)

int

In [25]:
#3
p=5/2
#gives the quotient after division

In [26]:
p

2.5

In [27]:
#3ii
q=5%2
#it gives remainder after divisionS

In [28]:
q

1

In [29]:
#3iii
a=5//2
#gives only real part of quotient

In [30]:
a

2

In [33]:
#3iv
b=5**4
#take next no.as power

In [34]:
b

625

In [35]:
#4
l1=[34,56,5,47,'shiv',38.05,23.48,12,83,'rose']

In [39]:
for i in l1:
  print(i,type(i))

34 <class 'int'>
56 <class 'int'>
5 <class 'int'>
47 <class 'int'>
shiv <class 'str'>
38.05 <class 'float'>
23.48 <class 'float'>
12 <class 'int'>
83 <class 'int'>
rose <class 'str'>

In [9]:
#5
a=int(input("enter the no."))
b=int(input("enter the no"))

enter the no. 35
enter the no 7

In [10]:
if a%b==0:
   print(a//b)
else:
    print("a is not divisible by b")

5

In [23]:
#6
v= [i for i in range(3,28)]

In [24]:
v

[3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27]

In [32]:
for i in v:
    if i%3==0:
        print("i is divisible by 3")
    else:
        print("i is not divisible by 3")

i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3

In [33]:
#7
#In mutable we can update the data in specific position and in immutable we cannot update data in specific position.

In [35]:
l1=[3,5,'fish',56]

In [36]:
l1[2]="morning"

In [37]:
l1

[3, 5, 'morning', 56]

In [38]:
t=(4,7,67,"sun")

In [39]:
t[3]="moon"

TypeError: 'tuple' object does not support item assignment